<launch>
<!--/media/kyyurtdas/104632FA4632E060/rosbag_logs/drive_around2_2018-03-21-12-21-37.bag
    /home/kyyurtdas/Documents/2_run_20kmph.bag
    /media/kyyurtdas/104632FA4632E060/rosbag_logs/slow_drive_round2_2018-03-21-11-26-52.bag-->
<param name="use_sim_time" value="true" />

    <node
     pkg="rosbag" type="play" name="player"  args=" --clock  /home/kyyurtdas/Documents/drive_around2_2018-03-21-12-21-37.bag">
    </node>
</launch>
