<launch>
  <include file="$(find nodes)/launch/odometry.launch"/>

  <rosparam command="load" file="$(find nodes)/param/dual_ekf_navsat_example.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="imu/data" to="xsens/mt0/imu/data"/>
    <remap from="gps/fix" to="xsens/mt0/fix"/>

  </node>

</launch>
