<launch>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
    <remap from="/scan" to="/velodyne/velodyne_scan" />
    <rosparam>
odom_frame: odom
#map_update_interval: 1.0 # in seconds
#particles: 200
#throttle_scans: 5
#ogain: 1.0
#minimumScore: 250
#kernelSize: 1
#lsigma: .05
#srr: 0.01
#srt: 0.01
#str: 0.01
#stt: 0.01
#resampleThreshold: 5
#llsamplerange: 0.5
#llsamplestep
#lasamplerange: 0.25
#astep: 0.1
#lstep: 0.1
#iterations: 10
    </rosparam>
  </node>
</launch>

