<launch>
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/ibeo_scala_b3/ibeo_pointcloud"/>
  </node>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
    <rosparam>
        odom_frame: odom
        delta: 0.025
        minimumScore: 50
        maxRange: 5.5
        maxUrange: 5.5
        linearUpdate: 0.2
        angularUpdate: 0.25
        temporalUpdate: 5
    </rosparam>
  </node>
</launch>

