<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find nodes)/param/navsat_transform_template.yaml" />

      <!--Placeholders for input remapping. Set your topic names as the "to" values. -->
      <remap from="imu/data" to="xsens/mt1/imu/data"/>
      <!--remap from="odometry/filtered" to=""/-->
      <remap from="gps/fix" to="xsens/mt0/fix"/>


  </node>
</launch>

